
.chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #121212;
    color: #fff;
}

.chat-section .chat-header {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #1a1a1a;
    margin-bottom: 1rem;
}

.chat-section .chat-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
}

.chat-section .chat-user-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.chat-section .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: #181818;
    border-radius: 8px;
    border: 1px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chat-section .chat-message {
    max-width: 60%;
    padding: 0.7rem;
    border-radius: 12px;
    font-size: 0.9rem;
    word-wrap: break-word;

}

.chat-section .chat-message.sent {
    background-color: #00bfff;
    color: #fff;
    align-self: flex-end;
    text-align: left;
    border-bottom-right-radius: 0;
}

.chat-section .chat-message.received {
    background-color: #333;
    color: #fff;
    align-self: flex-start;
    text-align: left;
    border-bottom-left-radius: 0;
}


.chat-section .chat-input {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.chat-section .chat-input input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    margin-right: 0.5rem;
    height: 70%;
}

.chat-section .chat-input button {
    padding: 0.5rem 1rem 0.4rem 0.75rem;
    background-color: #00bfff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.chat-section .chat-input button:hover {
    background-color: #008fcc;
}

.chat-section.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #bbb; 
    background-color: #121212;
}

.default-chat-placeholder h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.default-chat-placeholder p {
    font-size: 1rem;
    color: #777;
}