/* Base Container */
.rightSidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    box-shadow: -3px 0 9px rgba(0, 191, 255, 0.5), 3px 0 9px rgba(0, 191, 255, 0.5);
    overflow-y: auto;
    /* z-index: -1; */
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #00bfff;
    text-align: center;
    font-weight: bold;
}

.userList {
    /* border: 2px solid #00bfff; */
    list-style: none;
    padding: 0;
    margin: 0;
}

.userItem {
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.6s ease, transform 0.6s ease;
    cursor: pointer;
    position: relative;
    /* Required for the sliding effect */
}

.userItem:hover {
    background-color: #1a1a1a;
    opacity: 1;
    transform: translateY(-2px);
}

.profilePic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.75rem;
    border: 2px solid #00bfff;
    transition: transform 0.6s ease;
    /* Smooth scaling */
}

.userItem:hover .profilePic {
    transform: scale(1.2);
    /* Enlarge profile picture */
}

.username {
    font-size: 1rem;
    transition: transform 0.6s ease;
}

.userItem:hover .username {
    transform: translateX(10px);
}

@media screen and (max-width: 768px) {
    .rightSidebar {
        width: 30%;
    }

    .username {
        font-size: 1rem;
    }
}